<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target xsi:type="ColoredConsole" name="console-tgt">
            <layout xsi:type="JsonLayout">
                <attribute name="requestId" layout="${event-properties:item=requestId}" />
                <attribute name="parentCallId" layout="${event-properties:item=parentCallId}" />
                <attribute name="callId" layout="${event-properties:item=callId}" />
                <attribute name="message" layout="${message}" />
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="console-tgt" />
    </rules>
</nlog>