<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target xsi:type="ColoredConsole" name="console-tgt">
            <layout xsi:type="JsonLayout">
                <attribute name="occurredOn" layout="${event-properties:item=occurredOn}" />
                <attribute name="logLevel" layout="${level}" />
                <attribute name="requestId" layout="${event-properties:item=requestId}" />
                <attribute name="parentCallId" layout="${event-properties:item=parentCallId}" />
                <attribute name="callId" layout="${event-properties:item=callId}" />
                <attribute name="parentCallUri" layout="${event-properties:item=parentCallUri}" />
                <attribute name="parentCallMethod" layout="${event-properties:item=parentCallMethod}" />
                <attribute name="callUri" layout="${event-properties:item=callUri}" />
                <attribute name="callMethod" layout="${event-properties:item=callMethod}" />
                <attribute name="callDuration" layout="${event-properties:item=callDuration}" />
                <attribute name="message" layout="${message}" />
            </layout>
        </target>
        <target xsi:type="RabbitMQ" name="rabbitmq-log-tgt" exchange="x.logs" vhost="dlt" useJSON ="false" useLayoutAsMessage="true">
            <layout xsi:type="JsonLayout">
                <attribute name="occurredOn" layout="${event-properties:item=occurredOn}" />
                <attribute name="logLevel" layout="${level}" />
                <attribute name="requestId" layout="${event-properties:item=requestId}" />
                <attribute name="parentCallId" layout="${event-properties:item=parentCallId}" />
                <attribute name="callId" layout="${event-properties:item=callId}" />
                <attribute name="parentCallUri" layout="${event-properties:item=parentCallUri}" />
                <attribute name="parentCallMethod" layout="${event-properties:item=parentCallMethod}" />
                <attribute name="callUri" layout="${event-properties:item=callUri}" />
                <attribute name="callMethod" layout="${event-properties:item=callMethod}" />
                <attribute name="callDuration" layout="${event-properties:item=callDuration}" />
                <attribute name="message" layout="${message}" />
            </layout>
        </target>
        <target xsi:type="RabbitMQ" name="rabbitmq-trace-tgt" exchange="x.traces" vhost="dlt" useJSON ="false" useLayoutAsMessage="true">
            <layout xsi:type="JsonLayout">
                <attribute name="occurredOn" layout="${event-properties:item=occurredOn}" />
                <attribute name="logLevel" layout="${level}" />
                <attribute name="requestId" layout="${event-properties:item=requestId}" />
                <attribute name="parentCallId" layout="${event-properties:item=parentCallId}" />
                <attribute name="callId" layout="${event-properties:item=callId}" />
                <attribute name="parentCallUri" layout="${event-properties:item=parentCallUri}" />
                <attribute name="parentCallMethod" layout="${event-properties:item=parentCallMethod}" />
                <attribute name="callUri" layout="${event-properties:item=callUri}" />
                <attribute name="callMethod" layout="${event-properties:item=callMethod}" />
                <attribute name="callDuration" layout="${event-properties:item=callDuration}" />
                <attribute name="message" layout="${message}" />
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="console-tgt" />
        <logger name="*" minlevel="Debug" writeTo="rabbitmq-log-tgt" />
        <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="rabbitmq-trace-tgt" />
    </rules>
</nlog>